<form method="POST" action="/create_user">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="confirm_password" placeholder="Confirm password">

	<input type="submit">
</form>